<div class="container-fluid mt-3 mb-3">
    <div class="row">
        <div class="col-sm-2"> 
        </div>
        <div class="col-sm-10 card-deck">
            <div class="card">
                <div class="card-header">Grocery</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mt-3" *ngFor="let blog of products.products">
                            <div class="card product-card" style="align-items: center;">
                                <picture>
                                    
                                    <img [src]="blog.product_image" alt="Flowers"
                                        style="width:150px;height:150px;">
                                </picture>
                                <div class="card-body">
                                  <p class="card-title">{{blog.product_title}}</p>
                                  <p class="card-text"><span class="prd-selling">&#8377;{{blog.product_selling_price}}</span> <span class="prd-mrp"><del>&#8377;{{blog.product_mrp}}</del></span> <span class="prd-discount">{{blog.product_discount}}&#37;off</span></p>
                                  <div class="cardBtn">
                                    <button type="button" class="btn btn-light">{{blog.product_quantity}}</button>
                                    <button type="button" class="btn btn-light">Add Item</button>
                                  </div>
                                </div>
                              </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>