<section class="dashboard-wrap mtb-40">
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="bg-primary">
      <ul class="list-unstyled components">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['./']" >Dashboard</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['./products']" >Products</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['./categories']" >Categories</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['./pages']" >Pages</a>
        </li>
        <li>
          <a [routerLink]="['/login']">Logout</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
      </button>
      <div class="container-fluid mt-3 main-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
   </div>
</section>