<div class="container mt-3 mb-3">
    <h3>Best Selling</h3>
    <p>Trending Now</p>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/ashirwadata.jpg" alt="Card image" style="width:100%">
        <div class="card-body text-center">
            <h4 class="card-title">AASHIRVAAD ATTA</h4>
            <p class="card-text">In May 2002, ITC made its entry in the branded Atta segment and within a short period of time became the number one branded packaged atta across the country. AASHIRVAAD promises you only the most delightful rotis straight from your kitchen complete with your love and care through your preparation.</p>
            <a href="#" class="btn btn-primary">Now <i class="fas fa-rupee-sign"></i>20</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/ashirwadata.jpg" alt="Card image" style="width:100%">
        <div class="card-body text-center">
            <h4 class="card-title">AASHIRVAAD ATTA</h4>
            <p class="card-text">In May 2002, ITC made its entry in the branded Atta segment and within a short period of time became the number one branded packaged atta across the country. AASHIRVAAD promises you only the most delightful rotis straight from your kitchen complete with your love and care through your preparation.</p>
            <a href="#" class="btn btn-primary">Now <i class="fas fa-rupee-sign"></i>20</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/ashirwadata.jpg" alt="Card image" style="width:100%">
        <div class="card-body text-center">
            <h4 class="card-title">AASHIRVAAD ATTA</h4>
            <p class="card-text">In May 2002, ITC made its entry in the branded Atta segment and within a short period of time became the number one branded packaged atta across the country. AASHIRVAAD promises you only the most delightful rotis straight from your kitchen complete with your love and care through your preparation.</p>
            <a href="#" class="btn btn-primary">Now <i class="fas fa-rupee-sign"></i>20</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/ashirwadata.jpg" alt="Card image" style="width:100%">
        <div class="card-body text-center">
            <h4 class="card-title">AASHIRVAAD ATTA</h4>
            <p class="card-text">In May 2002, ITC made its entry in the branded Atta segment and within a short period of time became the number one branded packaged atta across the country. AASHIRVAAD promises you only the most delightful rotis straight from your kitchen complete with your love and care through your preparation.</p>
            <a href="#" class="btn btn-primary">Now <i class="fas fa-rupee-sign"></i>20</a>
        </div>
      </div>
    </div>
  </div>